In [75]:
import numpy as np
import pandas as pd

In [76]:
#Create a Pandas Series 

step_data = [3267,8773,1244,6579,5201]
step_count = pd.Series(step_data,name='Steps')
print (step_count)

0    3267
1    8773
2    1244
3    6579
4    5201
Name: Steps, dtype: int64

In [77]:
#Create a Pandas date range 

step_countdr=pd.date_range(start='1/1/2018', periods=8)
print(step_countdr)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [78]:
#View the data types 
print (step_count.dtypes)

int64

In [79]:
#Playing with datatypes and imputation. 
print(step_count.dtypes)

#conversion to float
step_count = step_count.astype(np.float)
print(step_count.dtypes)

int64
float64

In [80]:
#Creating invalid data and filling it with zeroes.
step_count[1:3] = np.NaN
step_count = step_count.fillna(0.)
print(step_count)

0    3267.0
1       0.0
2       0.0
3    6579.0
4    5201.0
Name: Steps, dtype: float64

In [81]:
#Dataframe and Row manipulation.

step_data = [3620, 7891, 9761,3907, 4338, 5373]
cycling_data = [10.7, 0, None,2.4, 15.3,
10.9, 0, None]
joined_data = list(zip(step_data,cycling_data))
activity_df = pd.DataFrame(joined_data)
print(activity_df)

      0     1
0  3620  10.7
1  7891   0.0
2  9761   NaN
3  3907   2.4
4  4338  15.3
5  5373  10.9

In [82]:
#Date Range 
activity_df = pd.DataFrame(joined_data,
index=pd.date_range(start='1/1/2018', periods=6),
columns=['Walking','Cycling'])
print(activity_df)

            Walking  Cycling
2018-01-01     3620     10.7
2018-01-02     7891      0.0
2018-01-03     9761      NaN
2018-01-04     3907      2.4
2018-01-05     4338     15.3
2018-01-06     5373     10.9

In [84]:
#Indexing rows using iloc and loc methods.
#loc
print(activity_df.loc['2018-01-03'])
#iloc
print(activity_df.iloc[-3])

Walking    9761.0
Cycling       NaN
Name: 2018-01-03 00:00:00, dtype: float64
Walking    3907.0
Cycling       2.4
Name: 2018-01-04 00:00:00, dtype: float64